$font1: 'Lato';
$font2: 'Monteserrat'; 
$primary: #ECF2F7;
$secondary: #D2D9E5;
$tertiary: #e4ebf5;
$fontSize: 15px;
$radius: 5px;

.body-encapsule{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: $tertiary;
}
.landing{
    position: absolute;
    height: 100%;
    width: 100%;
}